ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(245, 245, 245);
}


li {
  float: right;
  float:right;
  padding: 30px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: grey;
  text-decoration: none;
  color:white;
}
.home{
  height: 100%;
  display: flex;
  margin-top: 50px;
}

.bg {
  height: 120%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}
.img{
  padding: 5%;
}
.menu {
  font-size:xx-small;
}

hr.new {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
hr.new:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}

.flex{
  display: flex;
}

p{
  margin-left: 10%;
}

.p{
  padding: 0%;
  float:left;
}
h3, h5, h6 {
  text-align:center;
}
.image{
  float: right;
}
figcaption{
  text-align: center;
  font-weight: bold;
  
}

form{
  align-content: center;
}